VITE_TOKEN_FACTORY_ACCOUNT=hashedlaunch
VITE_LAUNCHPAD_ACCOUNT=hashedpad
VITE_PAYMENT_CONTRACT=eosio.token
VITE_PAYMENT_SYMBOL=UOS
VITE_PAYMENT_DECIMALS=8
VITE_ULTRA_RPC_URL=https://ultra-testnet.eosphere.io
